*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    background: #000;
}
.string{
    height:160px;
    width: 100%;
    background: rgb(79, 79, 79);
}
svg{
    width:50% ;
    /* background-color: red; */
}