*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
}
main{
  height: 100vh;
  width: 100vw;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box{
  height: 200px;
  width: 200px;
  background-color: antiquewhite;
  border-radius: 20px;
}
.box2{
  height: 200px;
  width: 200px;
  background-color: rgb(148, 84, 0);
  border-radius: 20px;
}
.circle{
  margin-top: 100px;
  border-radius: 10%;
  height: 200px;
  width: 200px;
  background-color: rgb(255, 145, 0);
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: verdana;
  border-radius: 100px;
  height: 40px;
  width: 200px;
  background-color: red;
  cursor:grab;
}
.button:active{
  scale: 0.9
}